<div class="w3-card w3-margin">
  <div class="w3-container w3-padding">
    <h4>Projetos</h4>
  </div>
  <ul class="w3-ul w3-hoverable w3-white">
    <li class="w3-padding-16">
      <img src="assets/projects/cobra1.jpg" alt="Image" class="w3-left w3-margin-right" style="width:20px">
      <span class="w3-large">SnakeRobot</span>
      <br>
    </li>
    <li class="w3-padding-16">
      <img src="assets/projects/mao1.jpg" alt="Image" class="w3-left w3-margin-right" style="width:20px">
      <span class="w3-large">Mão Robótica</span>
      <br>
    </li>
    <li class="w3-padding-16">
      <img src="assets/projects/roboinsp1.jpg" alt="Image" class="w3-left w3-margin-right" style="width:20px">
      <span class="w3-large">Robô de Inspeção</span>
      <br>
    </li>
  </ul>
</div>
<hr>

<!-- Labels / tags -->
<div class="w3-card w3-margin">
  <div class="w3-container w3-padding">
    <h4>Tags</h4>
  </div>
  <div class="w3-container w3-white">
    <p>
      <span class="w3-tag w3-black w3-margin-bottom">Robótica</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">SnakeRobot</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Cultura_Maker</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">McGyverTronics</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Brazil</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>
    </p>
  </div>
</div>