<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#"><img class="logo" src="assets/mcgyver.jpg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#snakenav" aria-controls="snakenav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="snakenav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Página Inicial<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="equipe">Equipe</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="projetos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projetos</a>
          <div class="dropdown-menu" aria-labelledby="projetos">
            <a class="dropdown-item" routerLink="snakerobot">SnakeRobot</a>
            <a class="dropdown-item" routerLink="maorobotica">Mão Robótica</a>
            <a class="dropdown-item" routerLink="roboinspecao">Robô de inspeção</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>