<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Bem Vindo à {{ title }}!</h1>
    <hr class="my-4">
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="assets/projects/cobra1.jpg" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">SnakeRobot</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="projects/snakerobot">Ver</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top img-card" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="assets/projects/mao1.jpg" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">Mão Robótica</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="maorobotica">Ver</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top img-card" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="assets/projects/roboinsp1.jpg" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">Robô inspeção</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="roboinspecao">Ver</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>